body{
	background-color: black;
}
.container{
    background-color: white;
    width: 1170px;
    padding: 20px 169px;
	margin: 108px 0;
	font-family: sans-serif;
	font-weight: 550;
	}
.banner{
	display:flex;
}
.boxleft{
	margin-right:50px;
}
.details{
	display:flex;
}	
.title{
	flex-grow: 1;
}
.bar{
	background-color: lightgrey;
	width: 500px;
	height: 7px;
	margin-bottom: 40px;
}
.barin0{
	background-color: blue;
	width: 100%;
	height: 100%
}
.barin1{
	background-color: blue;
	width: 90%;
	height: 100%
}
.barin2{
	background-color: blue;
	width: 75%;
	height: 100%
}
.barin3{
	background-color: blue;
	width: 80%;
	height: 100%
}
.barin4{
	background-color: blue;
	width: 90%;
	height: 100%
}
.barin5{
	background-color: blue;
	width: 55%;
	height: 100%
}



